/**
    Deixa o rodapé sempre na parte inferior
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto", serif;
}

main {
    flex: 1 0 auto;
}

.logo-navbar{
    height: 80px;
    width: 80px;
    margin: 0 0% 0 5px;
}

.navbar{
    background-color: #f66b53;
    font-size: 1.5rem;
    margin: 0 0%;
    padding: 0;
}

.button-register{
    background-color: #15b6cc;
    background-color: #fc573b;
}

/*CADASTRO DE LIVROS*/
h1{
    font-family: "Roboto", serif;
}
label{
    font-family: "Roboto", serif;
    text-transform: uppercase;
}
.btn-back{
    background-color: #6b6666;
    color: white;
    text-transform: uppercase;
    margin-top: 2%;
}
.btn-register{
    color: white;
    text-transform: uppercase;
    background-color: #fc573b;
    float: right;
    margin-top: 2%;
}
/*CADASTRO DE LIVROS*/